body {
  padding-top: 50px;
}
h1, h2 {
  text-shadow: #f66 1px -1px 1px;
}
h3, h4, h5, h6 {
  text-shadow: #faa 1px -1px 0px;
}
.starter-template {
  padding: 40px 15px;
}
.master { font-size: 120%; }
.master a { font-weight: bold; }
